In [12]:
import numpy as np
import pandas as pd
import math
import matplotlib.pyplot as plt
from sklearn.linear_model import LinearRegression
import warnings
warnings.filterwarnings('ignore')

In [29]:
df = pd.read_csv(r'insurance.csv')
max = 1
for i in range(0,1338):
    if(df['charges'][i]>max):
        max = df['charges'][i]
for i in range(0,1338):
    df['charges'][i] = df['charges'][i]*54/max
    
for i in range(0,len(df)):
    if(df['smoker'][i]=="yes"):
        df['smoker'][i]=float(1.0)
    else:
        df['smoker'][i]=float(0)

for i in range(0,len(df)):
    if(df['sex'][i]=="female"):
        df['sex'][i]=float(1.0)
    else:
        df['sex'][i]=float(0)
# df.values
df = df.drop(columns = 'region')

df
y = df['charges']

In [30]:
x0 = []
for i in range(len(df)):
    x0.append(1)
x0

df.insert(0,'X0',x0)
# dfa = df.values

In [32]:
df

      X0  age  sex     bmi  children smoker    charges
0      1   19  1.0  27.900         0    1.0  14.297942
1      1   18  0.0  33.770         1    0.0   1.461176
2      1   28  0.0  33.000         3    0.0   3.767749
3      1   33  0.0  22.705         0    0.0  18.616174
4      1   32  0.0  28.880         0    0.0   3.274405
...   ..  ...  ...     ...       ...    ...        ...
1333   1   50  0.0  30.970         3    0.0   8.976412
1334   1   18  1.0  31.920         0    0.0   1.867997
1335   1   18  1.0  36.850         0    0.0   1.380123
1336   1   21  1.0  25.800         0    0.0   1.700303
1337   1   61  1.0  29.070         0    1.0  24.676539

[1338 rows x 7 columns]

In [33]:
def beta(X,Y):
    X = np.array(X)
    Y = np.array(Y) 
    beta = np.matmul(np.transpose(X),X)
    beta = np.matmul(np.linalg.inv(beta),np.matmul(np.transpose(X),Y))
    return beta

In [34]:
df.sex = df.sex.astype(float)
df.smoker = df.smoker.astype(float)
df.dtypes
beta = beta(df,y)
beta

array([ 5.96855898e-13,  2.22044605e-16, -1.44551038e-13, -1.13242749e-14,
        0.00000000e+00,  9.94759830e-14,  1.00000000e+00])

In [35]:
data1 = np.array(df)
X1 = data1[:,1]
X2 = data1[:,2]
X3 = data1[:,3]
X4 = data1[:,4]
X5 = data1[:,5]

y1 = beta[0]+beta[1]*X1+beta[2]*X2+beta[3]*X3+beta[4]*X4+beta[5]*X5

In [37]:
y1 = (y1-np.array(y))**2
rmsq = np.sum(y)/np.shape(y)
rmsq

array([11.23722742])

In [ ]:
## print("Please tell your",choiceCategory)
bmiInput = float(input())
# yPredicted = int(B0 + B1*bmiInput)*max
yPredicted = yPred(bmiInput)
print("You will have to pay around rupees",yPredicted*max,"for your insurance")